<div class="container" style="background-color: pink;">
<div class="col-lg-6" style="background-color: pink;">
  <h1>Users#index</h1>
  <p>Find me in app/views/users/index.html.erb</p>
</div>

<div class="col-lg-6" style="background-color: orange;">
<h1>ユーザー一覧</h1>
  <% @users.each do |user| %>
  <div class="col-lg-6" style="background-color: orange;">
  <%=link_to user_path(user) do %>
  <div class="row" style="background-color: orange;">
  <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" %>
  <%= user.username %>
</div>
  <% end %>
  <% end %>
  </div>
</div>
