<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>
<div class="container">
  <h1>welcome to Bookers !!</h1>
  <p>In Bookers,</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>

  <div class="container"  style="background-color: orange;"><%= link_to "Log in", new_user_session_path %></div>
  <div class="container"  style="background-color: pink;"><%= link_to "Sign Up", new_user_registration_path %></div>

</div>